<mat-card style="margin-top: 50px;">
    <mat-tab-group>
        <mat-tab label="TreeTableFullPathNameChecker">
            <mat-card>
                <form class="example-container" 
                      [formGroup]="form1"
                      (ngSubmit)="submit1(form1.value)">

                    <mat-form-field>
                        <mat-label>Eleven tree table name:</mat-label>
                        <input matInput placeholder="location" required formControlName="treeTable">
                    </mat-form-field>
                    <div>
                        <button mat-fab type="submit">Go</button>
                    </div>
                </form>
            </mat-card>
        </mat-tab>
        <mat-tab label="TreeTableOptimizer">
            <mat-card>
                <form class="example-container" 
                      [formGroup]="form2"
                      (ngSubmit)="submit2(form2.value)">

                    <mat-form-field>
                        <mat-label>Eleven tree table name:</mat-label>
                        <input matInput placeholder="location" required formControlName="treeTable">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Eleven optimized tree table name:</mat-label>
                        <input matInput placeholder="location_optimized" required formControlName="treeTableOptimized">
                    </mat-form-field>

                    <div>
                        <button mat-fab type="submit">Go</button>
                    </div>
                </form>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<mat-card>
    <div [innerHTML]="result"></div>
</mat-card>

