<mat-card style="margin-top: 50px;">
    <mat-tab-group>
        <mat-tab label="TreeTableFullPathNameChecker">
            <mat-card>
                <form class="example-container" 
                      [formGroup]="form1"
                      (ngSubmit)="submit1(form1.value)">

                    <mat-form-field>
                        <mat-label>Eleven tree table name:</mat-label>
                        <input matInput placeholder="location" required formControlName="treeTable">
                    </mat-form-field>
                    <div>
                        <button mat-fab type="submit">Go</button>
                    </div>
                </form>
            </mat-card>
        </mat-tab>
        <mat-tab label="TreeTableOptimizer">
            <mat-card>
                <form class="example-container" 
                      [formGroup]="form2"
                      (ngSubmit)="submit2(form2.value)">

                    <mat-form-field>
                        <mat-label>Eleven tree table name:</mat-label>
                        <input matInput placeholder="location" required formControlName="treeTable">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Eleven optimized tree table name:</mat-label>
                        <input matInput placeholder="location_optimized" required formControlName="treeTableOptimized">
                    </mat-form-field>

                    <div>
                        <button mat-fab type="submit">Go</button>
                    </div>
                </form>
            </mat-card>
        </mat-tab>
        <mat-tab [disabled]="!syncTab"label="BikeAttributeSyncer">
            <form class="example-container" 
                  [formGroup]="form3"
                  (ngSubmit)="submit3(form3.value)">
                <mat-card>
                    <div>
                        <mat-radio-group formControlName="radioGroup">
                            <mat-radio-button value="count">Item Count With Null Attributes</mat-radio-button>
                            <mat-radio-button value="sync">Sync From LC</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div [hidden]="isCount()" style="text-align:center;padding-top: 16px;">
                        <mat-form-field>
                            <mat-label>Query offset:</mat-label>
                            <input matInput placeholder="eg. 100" required formControlName="offset">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Count:</mat-label>
                            <input matInput placeholder="eg. 2 -> will process 200" required formControlName="count">
                        </mat-form-field>
                    </div>
                </mat-card>
                <mat-card>
                    <div>
                        <!--
                        <button (click)="submit3()" mat-fab type="submit">Go</button>
                        -->
                        <button mat-fab type="submit">Go</button>
                    </div>
                </mat-card>
            </form>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<mat-card>
    <div [innerHTML]="result"></div>
</mat-card>

