<mat-card style="margin-top: 50px;">

    <div>
        <p> Authenticator may be confused. If either Sign Out button is active you are logged in!</p>
        <button mat-button [disabled]="!loggedIn" (click)="signOut()" >Sign Out</button>
    </div>

    <amplify-authenticator></amplify-authenticator>

    <button mat-raised-button (click)="whatDoWeGot()" >WhatDoYouGotForMe</button>
    <mat-card style="margin-top: 50px;">
        <div align="left">
            <pre>{{user}}</pre>
        </div>
    </mat-card>
    <mat-card>
        {{data1}}
    </mat-card>
    <mat-card>
        {{error1}}
    </mat-card>

</mat-card>
